
<div id="welcometext" class="leftside">
	Welcome to mapme
</div>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>MapMe</title>

<link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="http://code.google.com/apis/gears/gears_init.js"></script>


<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0px; padding: 0px }
  #map_canvas { height: 100% }
</style>
<script type="text/javascript"src="http://maps.google.com/maps/api/js?sensor=true"> </script>
<script type="text/javascript">
/*
  function initialize() {
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      zoom: 4,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);
  }
*/

// Note that using Google Gears requires loading the Javascript
// at http://code.google.com/apis/gears/gears_init.js

var siberia = new google.maps.LatLng(60, 105);
var newyork = new google.maps.LatLng(40.69847032728747, -73.9514422416687);
var browserSupportFlag =  new Boolean();

  function get_location(map,setLocation) {
    var initialLocation;

    // Try W3C Geolocation (Preferred)
    if(navigator.geolocation) {
      browserSupportFlag = true;
      navigator.geolocation.getCurrentPosition(function(position) {
        initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
//        alert('navigator.geolocation set position '+initialLocation);
        setLocation(map,initialLocation);

      }, function() {
        handleNoGeolocation(browserSupportFlag,initialLocation);
        setLocation(map,initialLocation);
      });
      // Try Google Gears Geolocation
    } else if (google.gears) {
      browserSupportFlag = true;
      var geo = google.gears.factory.create('beta.geolocation');
      geo.getCurrentPosition(function(position) {
        initialLocation = new google.maps.LatLng(position.latitude,position.longitude);
//        alert('google.gears set position '+initialLocation);
        setLocation(map,initialLocation);
      }, function() {
        handleNoGeoLocation(browserSupportFlag,initialLocation);
        setLocation(map,initialLocation);
      });
      // Browser doesn't support Geolocation
    } else {
      browserSupportFlag = false;
      handleNoGeolocation(browserSupportFlag,initialLocation);
//      alert('nogeolocation set position '+initialLocation);
      setLocation(map,initialLocation);
    }
  }


function handleNoGeolocation(errorFlag,initialLocation) {
  if (errorFlag == true) {
    alert("Geolocation service failed.");
    initialLocation = newyork;
  } else {
    alert("Your browser doesn't support geolocation. We've placed you in Siberia.");
    initialLocation = siberia;
  }
  return initialLocation;
}


function initialize() {
  var myOptions = {
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  get_location(map,setLocation);

  // move into get location function
  //

}

function setLocation(map,initialLocation) {
    if (initialLocation) {
//      alert('setLocation initiallocation exists '+initialLocation);
//      alert('map '+map);
      map.setCenter(initialLocation);
      var image = '/images/red_GarageSale.png';
      var garageSaleLocation = initialLocation; // new google.maps.LatLng(-33.890542, 151.274856);
      var saleMarker = new google.maps.Marker({
        position: garageSaleLocation,
        map: map,
        title:"First Marker"
        //     icon: image
      });
    }
    if (!initialLocation) {
      alert('setLocation initialLocation undefined '+initialLocation);
//      setTimeout(setLocation(),1250);
    }
}

$(document).ready(function () {
//  (function(initialLocation) {
    initialize();
//    while (!initialLocation) {
//    }
//    setTimeout(setLocation(),1250);
//  });

});

</script>


<div id="map_canvas" style="width:100%; height:100%"></div>


